<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Inicio
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item>
        <ion-label>Calculadora</ion-label>
    </ion-item>
    <form id="home-form3">
        <ion-item id="home-input4">
            <ion-label></ion-label>
            <ino-input type="text" plaoceholder="0" name="display"></ino-input>

        </ion-item>
    </form>

    <div class="spacer" style="height: 75;" id="home-spacer9"></div>
    <ion-button color="secondary">7</ion-button>
    <ion-button color="secondary">8</ion-button>
    <ion-button color="secondary">9</ion-button>
    <ion-button color="danger ">*</ion-button>
    <div class="spacer" style="height: 75;" id="home-spacer9"></div>
    <ion-button color="secondary">4</ion-button>
    <ion-button color="secondary">5</ion-button>
    <ion-button color="secondary">6</ion-button>
    <ion-button color="danger ">-</ion-button>
    <div class="spacer" style="height: 75;" id="home-spacer9"></div>
    <ion-button color="secondary">1</ion-button>
    <ion-button color="secondary">2</ion-button>
    <ion-button color="secondary">3</ion-button>
    <ion-button color="danger ">/</ion-button>
    <div class="spacer" style="height: 75;" id="home-spacer9"></div>
    <ion-button color="danger "></ion-button>
    <ion-button color="danger ">0</ion-button>
    <ion-button color="danger ">=</ion-button>
    <ion-button color="danger ">+</ion-button>


</ion-content>